
body {
    position: relative;
    font-family: "Jost", sans-serif;
    min-height: 100vh;
    background-color: bisque;
    font-weight: 400;
    font-style: normal;
    color: #003;
}

.menu_top_button {
    background-color: rgba(0, 255, 13, 0.842);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    border: 1px solid black;
    border-radius: 50%;
    position: fixed;
    width: 36px;
    height: 36px;
    bottom: 30px;
    right: 30px;
}

.menu_top_button > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}


.menu_top_button > a > img {
    max-width: 24px;
    max-height: 24px;
}

.section {
    margin: 10px;
    background-color: cadetblue;
    border-radius: 32px;
}

.content {
    background-color: rgba(126, 218, 255, 0.514);
    padding: 12px;
    border-radius: 12px;
}

.wrapper_header {
    padding: 20px 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.wrapper {
    padding: 20px 60px;
}

.title {
    text-align: center;
    font-size: 2em;
    margin: 0.67em 0;
}

.title_small {
    text-align: center;
    font-size: 1.3em;
    margin: 0.67em 0;
}

.menu_link {
    margin-top: 10px;
}

.menu_link > a{
    color: black;
    font-size: 24px;
    text-decoration: none;
}
code {
    font-size: 12px;
}
.code {
    border-radius: 12px;
    background-color: rgba(253, 255, 157, 0.884);
    display: block;
    padding: 12px;
    font-weight: 400;
    border: 1px solid black;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90px;
    background-color: #003;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
    margin-top: 24px;
}

.link_profile {
    color: white;
}