
body {
    position: relative;
    font-family: "Jost", sans-serif;
    min-height: 100vh;
    background-color: rgb(255, 248, 238);
    font-weight: 400;
    font-style: normal;
    color: #003;
}

.menu_top_button {
    background-color: rgba(50, 42, 165, 0.342);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    border: 1px solid black;
    border-radius: 50%;
    position: fixed;
    width: 36px;
    height: 36px;
    bottom: 30px;
    right: 30px;
}

.menu_top_button > a {
    display: block;
    width: 24px;
    height: 24px;
}


.menu_top_button > a > img {
    max-width: 24px;
    max-height: 24px;
}

.section {
    border-top: 1px solid black;
}

.content {
    background-color: rgba(126, 218, 255, 0.514);
    padding: 12px;
    border-radius: 12px;
}

.wrapper_header {
    padding: 20px 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.wrapper {
    padding: 20px 60px;
}

.title {
    text-align: center;
}

.menu_link > a{
    color: black
}
code {
    font-size: 16px;
}
.code {
    border-radius: 12px;
    background-color: rgba(253, 255, 157, 0.884);
    display: block;
    padding: 12px;
    font-weight: 400;
    border: 1px solid black;
}